* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #fcfcfc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.App-header {
  min-height: 100vh;
  width: 95%;
  color: rgb(30, 30, 30);
  padding: 2rem;
}

.App-header span {
  color: gray;
}

.form-list {
  padding-top: 4rem;
}